body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.game-container {
    margin-top: 20px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.card {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.8s;
    height: 4rem;
    width: 4rem;
}

.card.flipped {
    background-color: #8abef9;
    font-size: 0;
    transform: rotateY(0);
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

#score {
    margin-top: 20px;
}

#startBtn,
#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.msg,
.gameTimer {
    display: none;
    margin: 1rem 0;
}